<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action= 'hello' method='POST'>
    <input type='text' name='name'>
        <select name='language' id ='language'>
            <option value='french'>French</option>\n
            <option value='german'>German</option>\n
            <option value='english'>English</option>\n
            <option value='spanish'>Spanish</option>\n
        </select>
    <input type='submit' value='Greet me!'>
    </form>
</body>
</html>